/* Estilo geral */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cabeçalho */

header {
  background-color: #f0f0f0;
  padding: 20px;
}

.logo img {
  max-width: 100px; /* Define tamanho máximo do logotipo */
}

header h1 {
  text-align: center;
}

.menu-dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-dropdown li {
  display: inline-block;
}

.menu-dropdown li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
}

.menu-dropdown li:hover {
  background-color: #f0f0f0;
}

/* Corpo */

#corpo {
  padding: 20px;
}

#corpo h3 {
  margin-bottom: 20px;
}

/* Redes Sociais */

#corpo ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#corpo li {
  display: inline-block;
  margin-right: 20px;
  transition: transform 0.3s ease; /* Animação de hover */
}

#corpo img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Borda arredondada para ícones */
}

#corpo li:hover img {
  transform: scale(1.1); /* Aumenta o tamanho do ícone ao passar o mouse */
}

/* Mapa */

#mapa iframe {
  width: 100%;
  height: 300px;
  border: 0;
}

/* Footer */

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Estilo básico do formulário */
#formulario-cadastro {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Títulos do formulário */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Rótulos dos campos */
label {
  display: block;
  margin-bottom: 5px;
}

/* Campos de entrada */
input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

/* Botão de cadastro */
button[type="submit"] {
  background-color: #4CAF50; /* Verde */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049; /* Verde mais escuro */
}

/* Layout responsivo */
@media screen and (max-width: 600px) {
  #formulario-cadastro {
    width: 95%;
  }
}
