/* Estilo geral */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cabeçalho */

header {
  background-color: #f0f0f0;
  padding: 20px;
}

.logo img {
  max-width: 100px; /* Define tamanho máximo do logotipo */
}

header h1 {
  text-align: center;
}

.menu-dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-dropdown li {
  display: inline-block;
}

.menu-dropdown li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
}

.menu-dropdown li:hover {
  background-color: #f0f0f0;
}
  
  /* Seção principal */
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  .Idiomas {
    text-align: center;
  }
  
  .Idiomas img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 250px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card h3 {
    margin-bottom: 10px;
  }
  
  .card p {
    margin: 0;
  }
  
/* Footer */

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
