/* Estilo base do corpo */
body {
  font-family: 'Arial', sans-serif; /* Definição de fonte */
  margin: 20px; /* Espaçamento ao redor do conteúdo */
  padding: 0;
  background-color: #f5f5f5; /* Cor de fundo clara */
}

/* Cabeçalho */
header {
  background-color: #fff; /* Cor de fundo branca */
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.logo img {
  max-width: 150px; /* Tamanho máximo do logotipo */
  height: auto; /* Proporção da imagem preservada */
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  place-items: center;
}

.container h1 {
  background-image: url('https://img.freepik.com/fotos-premium/fundo-do-titulo-fundo-do-cabecalho-caixa-de-texto_118019-6751.jpg'); /* Insira o caminho da imagem */
  background-size: cover; /* Ajuste o tamanho da imagem para cobrir o título */
  text-align: center; /* Centralize o texto no título */
  color: BLACK; /* Defina a cor do texto */
  padding: 20px; /* Adicione espaço interno ao redor do texto */}

.menu-dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-dropdown li {
  display: inline-block;
}

.menu-dropdown li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
}

.menu-dropdown li:hover {
  background-color: #f0f0f0;
}

.texto-colorido {
  background-color: #993399; /* Cor de fundo roxo */
  padding: 10px; /* Adiciona espaço interno ao redor do texto */
  color: white; /* Cor do texto branco */
}

.botao {
  display: inline-block; /* Faz com que o botão se comporte como um bloco */
  padding: 10px 20px; /* Adiciona espaço interno ao redor do texto */
  background-color: #9583b6; /* Cor de fundo */
  color: white; /* Cor do texto branco */
  text-decoration: none; /* Remove a decoração padrão do link */
  border: none; /* Remove a borda padrão do botão */
  cursor: pointer; /* Muda o cursor para o modo "mão" quando sobre o botão */
}

.botao:hover { /* Estilos para quando o mouse estiver sobre o botão */
  background-color: #3e8e41; /* Escurece a cor de fundo */
}

/* Seção Banner */
.banner {
  background-image: url('animaeducacao-my.sharepoint.com/:i:/r/personal/fabiana_yamana_animaeducacao_com_br/Documents/Imagens/banner.jpeg?csf=1&web=1&e=vi1pGm');
}
